.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 350px) {
  .header__inner {
    display: flex;
    flex-flow: wrap;
  }
  .header__logo {
    height: 55px;
    margin: 1em 1em 0 0.3em;
    vertical-align: top;
  }
  .titles {
    margin-right: 3em;
    flex-direction: row;
    text-align: left;
  }
}

@media screen and (max-width: 549px) {
  .header__inner {
    display: flex;
    flex-flow: wrap;
  }
  .header__logo {
    height: 55px;
    margin: 1em 1em 0 0.3em;
    vertical-align: top;
  }
  .titles {
    margin-right: 3em;
    flex-direction: column;
    text-align: left;
  }
  .header__title {
    font-size: 1.5em;
    font-weight: 200;
  }
  .header__subtitle {
    font-size: 1em;
    font-weight: 200;
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.8em;
    color: Tomato;
  }
  .project__item {
    width: 100%;
    flex-grow: 1;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .project__img {
    max-width: 75%;
    max-height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 550px) and (max-width: 860px) {
  .project__item {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  main, .header, .header__inner, .nav, .content {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
